* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #c0c0c0 ;
}

.content {
    padding: 1rem;
    height: auto;
    width: 100vw;
    background-color: #fff;
    border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
         max-width: 992px;
         height: auto;
         margin: 1rem auto;
         border-radius: 1rem;
    }
}